@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
 

  .welcome-section {
    background-color: aqua;
      height: 100vh;
  }
  

  .projects {
    background-color: blue;
    height: 100vh;
  }

  .nav {
    target="_self";
    text-align: right;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: pink;
  }